.playlist-card {
  min-width: 15rem;
  width: fit-content;
}

.right-side-container {
  width: 100%;
  padding: 2rem;
}

.pri-cta-bg-clr {
  background-color: var(--gray-shade1);
}

.pri-cta-light-bg-clr{
  background-color: var(--gray-shade3);
}
