.videolib-verticalcard-resize {
  width: 15.5rem;
}

.videolib-verticalcard-img-resize {
  height: 8.875rem;
}

.position-abs {
  position: absolute;
}

.verticalCard-like-icon {
  bottom: 1rem;
  right: 3rem;
}

.verticalCard-dislike-icon {
  bottom: 1rem;
  right: 1rem;
}

.verticalCard-watchLater-icon {
  top: 0.5rem;
  right: 0.5rem;
  color: var(--light-bg-clr);
}

.verticalCard-watchLater-icon-select-clr {
  color: var(--dark-primary-clr);
}

.verticalCard-play-icon {
  top: 0;
  right: 0.5rem;
}

.verticalCard-playlist-icon {
  top: 2rem;
  right: 0.3rem;
  color: var(--light-bg-clr);
}

