.videolib-homepage-chip-cont {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--custom-pri-clr);
  border-top: 1px solid var(--custom-pri-clr);
  margin: 1rem 1.6rem;
}

.videolib-homepage-chip-custom-sty {
  background-color: #f2f2f2;
  color: #555555;
}
