.videolib-homepage-chip-cont {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--custom-pri-clr);
  border-top: 1px solid var(--custom-pri-clr);
  margin: 1rem 1.6rem;
  gap: 0.8rem;
}

.videolib-homepage-chip-custom-sty {
  background-color: var(--border-clr);
  color: var(--gray-shade3);
}

.dark-theme-font-clr {
  color: var(--comicstand-font-dark-clr);
}

.dark-theme-light-bg-clr {
  background-color: var(--comicstand-light-bg-clr);
}

.chips-cont-border-bottom {
  border-bottom: 1px solid var(--custom-dark-clr);
}

.chips-cont-border-top {
  border-top: 1px solid var(--custom-dark-clr);
}
