.videolib-nav-head {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--font-clr);
  margin-left: 4rem;
}

.videolib-nav-search-icon {
  background-color: var(--border-clr);
  color: var(--gray-shade4);
  border: 1px solid var(--light-primary-clr);
}

.videolib-nav-icon-cont-width-reset {
  width: 8rem;
}

.videolib-nav-icon-clr {
  color: var(--custom-dark-clr);
}

.videolib-nav-user-icon {
  font-size: 1.2rem;
}

.align-items-center {
  align-items: center;
}

.theme-icon-cont {
  gap: 2px;
  margin-right: 2rem;
}

.dark-theme-font-clr {
  color: var(--comicstand-font-dark-clr);
}

.dark-theme-light-bg-clr {
  background-color: var(--comicstand-light-bg-clr);
}

.dark-theme-border-clr {
  border: 1px solid var(--custom-dark-clr);
}
