:root {
  --comicstand-bg-clr: var(--light-clr);
  --comicstand-light-bg-clr:#202325;
  --comicstand-font-dark-clr: #bbb5ac;

}

[data-theme="dark"] {
  --comicstand-bg-clr: #181a1b;
}

.app {
  background-color: var(--comicstand-bg-clr);
}
